/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background-color: #d9d9d9;
    padding: 2%;
}

h1 {
    font-size: 30px;
    line-height: 1.5;
    font-style: bold;
}

h2 {
    color: #fc6aa4;
    background-color: #2b2b2b;
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
}

p,
td,
li,
a button {
    font-size: 18px;
    line-height: 1.2;
}

a {
    color: #4d16e8;
}

a:visited {
    color: #4e0277;
}

a:hover a:focus {
    text-decoration: none;
}

a:active {
    color: #fc6aa4;
}

button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #a535e3;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #a535e3;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    background-color: #fc6aa4;
    color: black;
}

.button:active {
    background-color: #fc6aa4;
    color: black;
}

.button:visited {
    color: white;
}

th {
    text-align: left;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #2b2b2b;
}

.page-header__logo {
    width: 200px;
    border-radius: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}


.brush-stroke {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

#web-text {
    background-color: #fc6aa4;
    color: white;
    border-radius: 20%;
    border: 2px solid #d9d9d9;
}

.grid__item {
    display: inline-block;
    width: 33%;
}

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }

    .grid__item {
        background-color: #c9c9c9;
        width: auto;
        min-height: auto;
        padding: 8px
    }

    .grid__item:last-child {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-column-span: 0;
        grid-column-end: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 2;
        grid-row-end: 3;
    }
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

#page-footer__header {
    background-color: #d9d9d9;
}

.twitter-icon {
    border-radius: 20%;
}


@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-area: auto / auto / auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}