:root {
    --primary-color: #fc6aa4;
    --secondary-color: #4d16e8;
    --dark-grey: #2b2b2b;
    --light-grey: #d9d9d9;
    --grey: #c9c9c9;
    --purple: #4e0277;
    --light-purple: #a535e3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background-color: var(--light-grey);
    padding: 2%;
}

h1 {
    font-size: 30px;
    line-height: 1.5;
    font-style: bold;
}

h2 {
    color: var(--primary-color);
    background-color: var(--dark-grey);
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
}

p,
td,
li,
a button {
    font-size: 18px;
    line-height: 1.2;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:visited {
    color: var(--purple);
}

a:hover a:focus {
    text-decoration: none;
}

a:active {
    color: var(--primary-color);
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--light-purple);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

button:active,
.button:active {
    background-color: var(--primary-color);
    color: black;
}

.button:visited {
    color: white;
}

th,
td {
    text-align: left;
    padding: 0 18px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--dark-grey);
}

.page-header__logo {
    width: 200px;
    border-radius: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

main {
    width: fit-content;
    margin: 0 auto;
}

.profile {
    display: flex;
    margin-top: 40px;
}

.profile__text {
    padding-top: 35px;
}

.profile_portrait {
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.work_example {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 4px;
}

#web-text {
    background-color: var(--primary-color);
    border-radius: 20%;
    border: 2px solid var(--light-grey);
}

.grid__item {
    display: inline-block;
    width: 33%;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }

    .grid__item {
        background-color: var(--grey);
        width: auto;
        min-height: auto;
        padding: 8px
    }
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#page-footer__header {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.page-footer__link {
    margin: 5px;
}

.twitter-icon {
    border-radius: 20%;
}


@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-area: auto / auto / auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}